
.convert-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.submit-button {
  padding: 0.6rem 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
.cm-string {
  color: #28a745;
}

.cm-number {
  color: #fd7e14;
}
/* Highlight booleans in blue */
.cm-atom {
  color: #007bff !important;
  font-weight: bold;
}
html {background-color : black;}

